// @import 'editor.less';
@import (inline) "~braft-editor/dist/index.css";
@import "~leaflet/dist/leaflet.css";

.ant-upload .ant-upload-select {
  width: 100% !important;
}

.ant-table-cell {
  color: #475467 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 2px !important;
}

.ant-table-wrapper .ant-table-thead {
  .ant-table-cell {
    color: #475467 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    background: #f9fafb !important;
    border-bottom: 1px solid #eaecf0 !important;
    border-top: 1px solid #eaecf0 !important;
  }
}
